body{
    font-family: 'Exo 2', sans-serif;
font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: rgb(251, 81, 138);
}
.btn-primary{
    border-radius: 5px;
    background-color: rgb(251, 81, 138);
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;


}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 180px;
}
.nav-tittle{
    color: navy;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px
}
nav li a{
    text-decoration: none;
}
.header{
    background-color: #fff8f3;
    background-image:url(/pexels-moose-photos-1037995.jpg);


}
.banner{
    padding: 0px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner .picture{
    height: 400px;
    width: 300px;
}
.b-greeting{
    font-size: 45px;
    margin-bottom: 0px;
}
.b-name{
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
}
.b-content{
    max-width: 800px;
}
.context{
    margin-top: 5px;
}
.about{
    padding: 130px;
    border: 1px solid rgb(92, 87, 87);
    border-radius: 10px;
    background-color: rgb(212, 248, 248);
    margin: 100px 80px;
}
.section-tittle{
    color: black;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
}
.section{
    color: rgb(54, 51, 51);
    text-align: center;
    font-size: 18px;
}